.idea/
*.sln.iml
*.suo
*.ntvsca.json
*.njsproj
*.user
*.userosscache
*.sln.docstates
*.log
bin/
obj/
[Bb]in/
[Oo]bj/
X64/
x64/
X86/
x86/
bxml/
Build/
Release/
Debug/
*.cs.analyzerdata
*.precompiled
*.bbl
*.userprefs
*.csproj.user
*.pubxml.user
*.pubxml
appsettings.Development.json
appsettings.Local.json
launchSettings.json
TestResults/
*.trx
*.coverage
*.coveragexml
_Chutzpah*
coverlet/
.nuget/
packages/
*.nuget.props
*.nuget.targets
node_modules/
.DS_Store
Thumbs.db
